{% extends 'djangoapp/base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="jumbotron mt-4">
    <h1 class="display-4">This is your profile</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt, velit in tincidunt fermentum, odio orci hendrerit augue, ac cursus odio mauris sit amet dui.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt, velit in tincidunt fermentum, odio orci hendrerit augue, ac cursus odio mauris sit amet dui. Proin vitae ligula vel odio ullamcorper vestibulum a in felis.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
</div>
{% endblock %}
